{% extends 'base.html' %} {% block body %}

<div class="container bg-dark">
	<!--   LEFT SIDEBAR WITH NUMBERS   -->
	<div class="sidebar-l">
		<nav
			class="nav flex-column nav-pills nav-fill bg-dark"
			id="tab-left"
			role="tablist"
			aria-orientation="vertical"
		>
			<a
				class="nav-item nav-link bg-dark text-white mb-1 mt-1 active"
				id="tab1"
				data-toggle="tab"
				href="#tab-1"
				role="tab"
				aria-controls="nav-1"
				aria-selected="true"
			>
				01
			</a>
			<a
				class="nav-item nav-link bg-dark text-white mb-1 mt-1"
				id="tab2"
				data-toggle="tab"
				href="#tab-2"
				role="tab"
				aria-controls="nav-2"
				aria-selected="false"
			>
				02
			</a>
			<a
				class="nav-item nav-link bg-dark text-white mb-1 mt-1"
				id="tab3"
				data-toggle="tab"
				href="#tab-3"
				role="tab"
				aria-controls="nav-2"
				aria-selected="false"
			>
				03
			</a>
			<a
				class="nav-item nav-link bg-dark text-white mb-1 mt-1"
				id="tab4"
				data-toggle="tab"
				href="#tab-4"
				role="tab"
				aria-controls="nav-4"
				aria-selected="false"
			>
				04
			</a>
			<a
				class="nav-item nav-link bg-dark text-white"
				id="clear-btn"
				aria-controls="nav-4"
			>
				<button type="button" class="btn btn-dark">Clear</button>
			</a>
		</nav>
	</div>
	<!--   RIGHT SIDEBAR WITH ICONS   -->
	<div class="sidebar-r">
		<nav
			class="nav flex-column nav-pills nav-fill bg-dark"
			id="tab-right"
			role="tablist"
			aria-orientation="vertical"
		>
			<a
				class="nav-item nav-link bg-dark text-white mb-1 mt-1 active"
				id="nav-dashboard-tab"
				data-toggle="tab"
				href="#nav-dashboard"
				role="tab"
				aria-controls="nav-dashboard"
				aria-selected="true"
			>
				<i class="material-icons">dashboard</i>
			</a>
			<a
				class="nav-item nav-link bg-dark mb-1 mt-1 text-white"
				id="nav-map-tab"
				data-toggle="tab"
				href="#nav-map"
				role="tab"
				aria-controls="nav-map"
				aria-selected="false"
			>
				<i class="material-icons">map</i>
			</a>
			<a
				class="nav-item nav-link bg-dark mb-1 mt-1 text-white"
				id="nav-video-tab"
				data-toggle="tab"
				href="#nav-video"
				role="tab"
				aria-controls="nav-video"
				aria-selected="false"
			>
				<i class="material-icons">videocam</i>
			</a>
			<a
				class="nav-item nav-link bg-dark mb-1 mt-1 text-white"
				id="nav-data-tab"
				data-toggle="tab"
				href="#nav-data"
				role="tab"
				aria-controls="nav-data"
				aria-selected="false"
			>
				<i class="material-icons">show_chart</i>
			</a>
			<a
				class="nav-item nav-link bg-dark mb-1 mt-1 text-white"
				id="nav-control-tab"
				data-toggle="tab"
				href="#nav-control"
				role="tab"
				aria-controls="nav-control"
				aria-selected="false"
			>
				<i class="material-icons">videogame_asset</i>
			</a>
		</nav>
	</div>
	<!--   CARDS ON THE CENTER   -->
	<div class="center-content">
		<div class="container-fluid bg-dark text-white" id="cards-container">
			<div class="row">
				<div class="col d-flex">
					<div class="card card-body flex-fill mb-1" id="card-1">
						<h1>This is card 1</h1>
					</div>
				</div>
				<div class="col d-flex">
					<div class="card card-body flex-fill mb-1" id="card-2">
						<h1>This is card 2</h1>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col d-flex">
					<div class="card card-body flex-fill mb-1" id="card-3">
						<h1>This is card 3</h1>
					</div>
				</div>
				<div class="col d-flex">
					<div class="card card-body flex-fill mb-1" id="card-4">
						<h1>This is card 4</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--   LEFT TAB PANES - CONTENTS	-->
	<div class="tab-content">
		<div
			class="tab-pane active"
			id="tab-1"
			role="tabpanel"
			aria-labelledby="tab1"
		>
			{% load static %}
			<img src="{% static 'img/placeholder.png' %}" alt="placeholder image" />
			<h6>Tab 01</h6>
		</div>
		<div class="tab-pane" id="panel2" role="tabpanel" aria-labelledby="tab2">
			{% load static %}
			<img src="{% static 'img/placeholder.png' %}" alt="placeholder image" />
			<h6>Tab 02</h6>
		</div>
		<div class="tab-pane" id="panel3" role="tabpanel" aria-labelledby="tab3">
			{% load static %}
			<img src="{% static 'img/placeholder.png' %}" alt="placeholder image" />
			<h6>Tab 03</h6>
		</div>
		<div class="tab-pane" id="panel4" role="tabpanel" aria-labelledby="tab4">
			{% load static %}
			<img src="{% static 'img/placeholder.png' %}" alt="placeholder image" />
			<h6>Tab 04</h6>
		</div>
	</div>
	<!--	RIGHT TAB PANES - CONTENTS		-->
</div>
{% endblock %}
