{% extends 'base.html' %} {% block body %}
<div class="container bg-dark">
	<!--   LEFT SIDEBAR WITH NUMBERS   -->
	<div class="sidebar-l">
		<nav class="navbar bg-dark">
			<ul class="navbar-nav flex-column">
				<li class="nav-item">
					<a class="nav-link">
						<button type="button" class="btn btn-dark btn-lg mb-3">
							01
						</button></a
					>
					<a class="nav-link">
						<button type="button" class="btn btn-dark btn-lg mb-3">
							02
						</button></a
					>
					<a class="nav-link">
						<button type="button" class="btn btn-dark btn-lg mb-3">
							03
						</button></a
					>
					<a class="nav-link">
						<button type="button" class="btn btn-dark btn-lg mb-3">
							04
						</button></a
					>
					<a class="nav-link">
						<button type="button" class="btn btn-dark btn-lg mb-3">
							Clear
						</button></a
					>
				</li>
			</ul>
		</nav>
	</div>
	<!--   RIGHT SIDEBAR WITH ICONS   -->
	<div class="sidebar-r">
		<nav class="navbar bg-dark">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link"
						><button type="button" class="btn btn-dark btn-lg">
							<i class="material-icons">dashboard</i>
						</button></a
					>
					<a class="nav-link"
						><button type="button" class="btn btn-dark btn-lg">
							<i class="material-icons">map</i>
						</button></a
					>
					<a class="nav-link"
						><button type="button" class="btn btn-dark btn-lg">
							<i class="material-icons">videocam</i>
						</button></a
					>
					<a class="nav-link"
						><button type="button" class="btn btn-dark btn-lg">
							<i class="material-icons">show_chart</i>
						</button></a
					>
					<a class="nav-link"
						><button type="button" class="btn btn-dark btn-lg">
							<i class="material-icons">videogame_asset</i>
						</button></a
					>
				</li>
			</ul>
		</nav>
	</div>
	<!--   CARDS ON THE CENTER   -->
	<div class="center-content">
		<div class="container" id="cards-container">
			<div class="row">
				<div class="card-deck">
					<div class="card border-white text-white bg-dark mb-3">
						<div class="card-body">
							This is one card
						</div>
					</div>
					<div class="card border-white text-white bg-dark mb-3">
						<div class="card-body">
							This is another card
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="card-deck">
					<div class="card border-white text-white bg-dark">
						<div class="card-body">
							This is some other card
						</div>
					</div>
					<div class="card border-white text-white bg-dark">
						<div class="card-body">
							This is yet another card
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
