/* Media info 705x447px*/
@viewport {
	min-width: 705px;
}
html {
	height: 100%;
	width: 100%;
}
body {
	position: relative;
}
.container {
	font-family: "Changa One", cursive;
}
.sidebar-r {
	float: right;
	height: 100vh;
}
.sidebar-l {
	float: left;
	height: 100vh;
}
.center-content {
	font-family: Helvetica;
	height: 100vh;
}
#cards-container {
	padding-top: 1%;
	font-family: inherit;
}
.card.card-body {
	background-color: inherit;
	border-color: white;
}
.row {
	margin-top: 10px;
}
.img {
	object-fit: scale-down;
}

.btn-dark:hover,
.btn-dark:active,
.btn-dark:focus,
.nav-item.nav-link.active i,
.nav-item.nav-link.active,
.btn-dark.active {
	color: red !important;
}
a.nav-item.nav-link i,
a.nav-item.nav-link {
	font-size: 40px !important;
}
@media screen and (max-width: 600px) {
	.row {
		display: none;
	}
}
